<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página</title>
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div>
        <h1>Minha Página HTML no Localhost</h1>
        <p>Clique no botão abaixo para saber mais sobre como foi feito projeto.</p>

        <button id="btn">Saiba Mais</button>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>