* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    color: darkturquoise;
}

div {
    text-align: center;
}

h1 {
    padding-bottom: 20px;
    font-size: x-large;
}

p {
    padding-bottom: 20px;
    font-size: large;
}

button {
    background-color: royalblue;
    padding: 10px 20px;

    color: white;

    border-radius: 5px;
    border-style: none;

    font-size: large;

    cursor: pointer;
}


  